@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: #e3e3e3;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #ff7373;
}

#column-2 {
  background: #ffc0cb;
}

#column-3 {
  background: #ffb6c1;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #e3e3e3;
}


/*---------- TABLET ----------*/
/* Change the background colors below */

@media (min-width: 768px) {
  header {
    background-color:#c6e2ff ;
  }

  #column-1 {
    background-color: #d3ffce;
    
  }

  #column-2 {
    background-color: #800000;
    
  }

  #column-3 {
    background-color:#0000ff ;
    width: 100%;
  }

  .col-3 {
    width: 50%;
  }


  footer {
    background-color:#ff80ed ;
  }
  
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: #800080;
  }

  #column-1 {
    background-color: #00ff00;
  }

  #column-2 {
    background-color:#660066 ;
  }

  #column-3 {
    background-color:#8a2be2 ;
    width: 33.3%;
  }

  footer {
    background-color:#ff1493 ;
  }
  .col-3 {
    width: 33.3%;
  }
   
}
